numpy==1.26.2
pyaudiowpatch==0.2.12.6
pycparser==2.21
pydub==0.25.1
pygame==2.5.2
pyside6==6.6.1
pyside6-addons==6.6.1
pyside6-essentials==6.6.1
shiboken6==6.6.1
soundfile==0.12.1
watchdog==2.1.6
pyqtgraph==0.13.3
